<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ contacto1 | default:'No hay nada' | upper}}
    <br>
    {% for direccion in direcciones %}
    <li>{{direccion}}</li>
    {% endfor %}
    <br>
    <ul>
        {% for admin in admins %}
            <li>
                <span>{{admin.nombre}} {{admin.apellidos}}</span>
                <span>{{admin.email}}</span>
                {% if admin.encargado %}
                <span>Encargado</span>
                {% else %}
                <span>Supervisor</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>